<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="service.oppokodibridge.v4">
    <category id="oppo" label="30000">
      <group id="1">
        <setting id="oppo_model" type="string" label="30005">
          <level>0</level>
          <default>M9205</default>
          <constraints>
            <options>
              <option label="30006">M9205</option>
              <option label="30007">M9207</option>
            </options>
          </constraints>
          <control type="list" format="string">
            <heading>30005</heading>
          </control>
        </setting>
        <setting id="oppo_ip" type="string" label="30001">
          <level>0</level>
          <default>192.168.10.10</default>
          <control type="edit" format="string">
            <heading>30001</heading>
          </control>
        </setting>
        <setting id="oppo_http_port" type="integer" label="30002">
          <level>0</level>
          <default>436</default>
          <constraints>
            <minimum>1</minimum>
            <maximum>65535</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30002</heading>
          </control>
        </setting>
        <setting id="handoff_enabled" type="boolean" label="30003">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
    <category id="tests" label="30070">
      <group id="1">
        <setting id="test_ping" type="action" label="30071">
          <level>0</level>
          <control type="button" format="action">
            <close>false</close>
          </control>
          <data>RunScript(special://home/addons/service.oppokodibridge.v4/settings_tests.py,ping)</data>
        </setting>
        <setting id="test_control" type="action" label="30072">
          <level>0</level>
          <control type="button" format="action">
            <close>false</close>
          </control>
          <data>RunScript(special://home/addons/service.oppokodibridge.v4/settings_tests.py,control)</data>
        </setting>
        <setting id="test_cec" type="action" label="30073">
          <level>0</level>
          <control type="button" format="action">
            <close>false</close>
          </control>
          <data>RunScript(special://home/addons/service.oppokodibridge.v4/settings_tests.py,cec)</data>
        </setting>
        <setting id="test_iso" type="action" label="30092">
          <level>0</level>
          <control type="button" format="action">
            <close>false</close>
          </control>
          <data>RunScript(special://home/addons/service.oppokodibridge.v4/settings_tests.py,iso)</data>
        </setting>
        <setting id="test_bdmv" type="action" label="30093">
          <level>0</level>
          <control type="button" format="action">
            <close>false</close>
          </control>
          <data>RunScript(special://home/addons/service.oppokodibridge.v4/settings_tests.py,bdmv)</data>
        </setting>
        <setting id="test_wizard" type="action" label="30074">
          <level>0</level>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <data>RunScript(special://home/addons/service.oppokodibridge.v4/wizard.py)</data>
        </setting>
      </group>
    </category>
    <category id="paths" label="30010">
      <group id="1">
        <setting id="detect_path_from" type="action" label="30091">
          <level>0</level>
          <control type="button" format="action">
            <close>false</close>
          </control>
          <data>RunScript(special://home/addons/service.oppokodibridge.v4/settings_tests.py,detectpath)</data>
        </setting>
        <setting id="path_from_autodetect" type="boolean" label="30013">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="path_from" type="string" label="30011">
          <level>0</level>
          <default>nfs://192.168.1.177/mnt/Super3/Super3Share</default>
          <control type="edit" format="string">
            <heading>30011</heading>
          </control>
        </setting>
        <setting id="path_to" type="string" label="30012">
          <level>0</level>
          <default>/srv/nfs/media</default>
          <control type="edit" format="string">
            <heading>30012</heading>
          </control>
        </setting>
        <setting id="oppo_mount" type="string" label="30090">
          <level>2</level>
          <default>nfs1</default>
          <control type="edit" format="string">
            <heading>30090</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="switching" label="30060">
      <group id="1">
        <setting id="grab_tv_on_play" type="boolean" label="30061">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="cec_reclaim_on_stop" type="boolean" label="30022">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="tv_switch_method" type="string" label="30080">
          <level>0</level>
          <default>cec</default>
          <constraints>
            <options>
              <option label="30081">none</option>
              <option label="30082">cec</option>
              <option label="30083">ir</option>
              <option label="30084">lirc</option>
              <option label="30100">ir_remote</option>
            </options>
          </constraints>
          <control type="list" format="string">
            <heading>30080</heading>
          </control>
        </setting>
        <setting id="ir_code_oppo" type="string" label="30085">
          <level>0</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30085</heading>
          </control>
        </setting>
        <setting id="ir_code_kodi" type="string" label="30086">
          <level>0</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30086</heading>
          </control>
        </setting>
        <setting id="ir_lirc_device" type="string" label="30087">
          <level>0</level>
          <default>/dev/lirc0</default>
          <control type="edit" format="string">
            <heading>30087</heading>
          </control>
        </setting>
        <setting id="ir_serial_port" type="string" label="30088">
          <level>0</level>
          <default>/dev/ttyUSB0</default>
          <control type="edit" format="string">
            <heading>30088</heading>
          </control>
        </setting>
        <setting id="ir_serial_baud" type="integer" label="30089">
          <level>0</level>
          <default>9600</default>
          <control type="edit" format="integer">
            <heading>30089</heading>
          </control>
        </setting>
        <setting id="oppo_hdmi_port" type="integer" label="30101">
          <level>0</level>
          <default>1</default>
          <constraints>
            <minimum>1</minimum>
            <maximum>4</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30101</heading>
          </control>
        </setting>
        <setting id="ir_blaster_host" type="string" label="30102">
          <level>0</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30102</heading>
          </control>
        </setting>
        <setting id="ir_blaster_user" type="string" label="30103">
          <level>0</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30103</heading>
          </control>
        </setting>
        <setting id="ir_blaster_ssh_key" type="string" label="30104">
          <level>2</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30104</heading>
          </control>
        </setting>
        <setting id="tv_blaster_lirc_device" type="string" label="30105">
          <level>2</level>
          <default>/dev/lirc0</default>
          <control type="edit" format="string">
            <heading>30105</heading>
          </control>
        </setting>
        <setting id="tv_menu_anchor_ups" type="integer" label="30106">
          <level>2</level>
          <default>4</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>12</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30106</heading>
          </control>
        </setting>
        <setting id="tv_menu_top_offset" type="integer" label="30114">
          <level>2</level>
          <default>0</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>6</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30114</heading>
          </control>
        </setting>
        <setting id="tv_ir_key_delay" type="number" label="30107">
          <level>2</level>
          <default>0.7</default>
          <constraints>
            <minimum>0.1</minimum>
            <maximum>3.0</maximum>
          </constraints>
          <control type="edit" format="number">
            <heading>30107</heading>
          </control>
        </setting>
        <setting id="tv_ir_reps" type="integer" label="30108">
          <level>2</level>
          <default>3</default>
          <constraints>
            <minimum>1</minimum>
            <maximum>6</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30108</heading>
          </control>
        </setting>
        <setting id="tv_rca_device" type="integer" label="30109">
          <level>2</level>
          <default>15</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>15</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30109</heading>
          </control>
        </setting>
        <setting id="tv_code_input" type="integer" label="30110">
          <level>2</level>
          <default>163</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>255</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30110</heading>
          </control>
        </setting>
        <setting id="tv_code_up" type="integer" label="30111">
          <level>2</level>
          <default>89</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>255</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30111</heading>
          </control>
        </setting>
        <setting id="tv_code_down" type="integer" label="30112">
          <level>2</level>
          <default>88</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>255</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30112</heading>
          </control>
        </setting>
        <setting id="tv_code_ok" type="integer" label="30113">
          <level>2</level>
          <default>244</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>255</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30113</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="serial" label="30050">
      <group id="1">
        <setting id="serial_control" type="boolean" label="30051">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="serial_port" type="string" label="30052">
          <level>0</level>
          <default>/dev/ttyUSB0</default>
          <control type="edit" format="string">
            <heading>30052</heading>
          </control>
        </setting>
        <setting id="serial_baud" type="integer" label="30053">
          <level>0</level>
          <default>9600</default>
          <control type="edit" format="integer">
            <heading>30053</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="advanced" label="30030">
      <group id="1">
        <setting id="kodi_rpc_port" type="integer" label="30065">
          <level>0</level>
          <default>8080</default>
          <constraints>
            <minimum>1</minimum>
            <maximum>65535</maximum>
          </constraints>
          <control type="edit" format="integer">
            <heading>30065</heading>
          </control>
        </setting>
        <setting id="kodi_rpc_user" type="string" label="30066">
          <level>0</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30066</heading>
          </control>
        </setting>
        <setting id="kodi_rpc_pass" type="string" label="30067">
          <level>0</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30067</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="internal" label="30040">
      <group id="1">
        <setting id="wizard_done" type="boolean" label="30077">
          <level>3</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="detected_iso_path" type="string" label="30075">
          <level>3</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30075</heading>
          </control>
        </setting>
        <setting id="detected_bdmv_path" type="string" label="30076">
          <level>3</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30076</heading>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>
